#quiz {
    color: $off-white;

    @include commonBackground;

    section {
        @include commonSection(550px, 700px)
    }

    h1 {
        font-size: $large;
        font-weight: 700;   
    }

    .topic {
        text-align: left;
    }
}